#container {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 3px solid black;
    width: 480px;
    height: 480px;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid lightgray;
}

#restart-game{
    margin: 10px;
}